<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计</title>
</head>
<body>
<h2>成绩统计信息</h2>
<hr>
<table>
    <tr>
        <td>统计名称</td>
        <td>数据</td>
    </tr>
    <tr>
        <td>考试名称</td>
        <td>{{ s_name }}</td>
    </tr>
    <tr>
         <td>考试时间</td>
         <td>{{ s_time }}</td>
    </tr>
    <tr>
        <td>学科</td>
        <td>{{ course }}</td>
    </tr>
    <tr>
        <td>年级</td>
        <td>{{ grade }}</td>
    </tr>
    <tr>
        <td>班级</td>
        <td>{{ banji }}</td>
    </tr>
    <tr>
        <td>班主任</td>
        <td></td>
    </tr>
    <tr>
        <td>考试人数</td>
        <td>{{ s_num }}</td>
    </tr>
    <tr>
        <td>总分</td>
        <td>{{ zongfen }}</td>
    </tr>
    <tr>
        <td>平均分</td>
        <td>{{ pingjunfen }}</td>
    </tr>
    <tr>
        <td>最高分</td>
        <td>{{ zuigaofen }}</td>
    </tr>
    <tr>
        <td>最低分</td>
        <td>{{ zuidifen }}</td>
    </tr>
    <tr>
        <td>优秀率</td>
        <td>{{ youxiulv_persent }}</td>
    </tr>
    <tr>
        <td>合格人数</td>
        <td>{{ num_hege }}</td>
    </tr>
    <tr>
        <td>合格率</td>
        <td>{{ hegelv_persent }}</td>
    </tr>
    <tr>
        <td>不合格人数</td>
        <td>{{ num_buhege }}</td>
    </tr>
    <tr>
        <td>90分以上人数</td>
        <td>{{ num_youxiu }}</td>
    </tr>
    <tr>
        <td>80-90分之间人数</td>
        <td>{{ num_lianghao }}</td>
    </tr>
    <tr>
        <td>70-80分之间人数</td>
        <td>{{ num_yiban }}</td>
    </tr>
     <tr>
        <td>60-70分之间人数</td>
        <td>{{ num_xvnuli }}</td>
    </tr>
</table>
</body>
</html>